body {
    font-family: 'Inter', sans-serif;
    color:white;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}
p {
    margin-bottom: 0px!important;
}
/* BACKGROUND */
    .background__image  {
        background: linear-gradient(180deg, rgba(0,0,0,0.15449929971988796) 0%, rgba(0,0,0,0.09567577030812324) 53%, rgba(0,0,0,0) 100%), url(img/top_image1.jpg) no-repeat center;
    }
    .background__image--wide {
        background-size: cover;
        background-position: top;
    }
/* SIZES / POS / SPACERS */
    .rozball__size {
        max-width: 60%;
    }
    .mt__xl {
        margin-top: 170px;
    }

    .mb__l {
        margin-bottom: 100px;
    }
    .mb__xl {
        margin-bottom: 150px;
    }
    .mb__xxl {
        margin-bottom: 200px;
    }
    .mb__xxxl {
        margin-bottom: 250px;
    }

/* FONTS */
    .font__color--black {
        color: black;
    }
    .font__color--white {
        color: white;
        text-decoration:none;
    }
    .h1, .h2, .h3 {
        margin-top: 0;
        margin-bottom: 0;
        color: black!important;
    }
    .h1--white, .h2--white, .h3--white, .h4--white, .h5--white {
        color: white!important;
    }
    .h1 {
        font-size: 60pt!important;
        line-height: 100pt;
        margin-bottom: -15px;
        font-weight: 600;
    }
    .h1--bold {
        font-weight: 800;
    }
    .h2 {
        font-size: 40pt!important;
        line-height: 100pt;
        margin-bottom: -15px;
        font-weight: 500;
    }
    .h2--bold {
        font-weight: 600;
    }
    .h3 {
        font-weight: 700;
        font-size: 35px;
    }
    .h4 {
        font-size: 25pt!important;
    }
    .h4--bold {
        font-weight: 600;
    }
    .h5 {
        font-size: 15pt!important;
    }
    .h5--bold {
        font-weight: 600;
    }

    .p--bold {
        font-weight: bold;
    }

    .playbutton {
        background-size: 100%;
        box-shadow: 0px 0px 38.3px 0 rgb(0 0 0 / 33%);
        border-radius: 50%;
    }

    .playbutton:hover {
        -webkit-filter: brightness(85%);
        filter: brightness(85%);
        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
    }

    .font__weight--300 {
        font-weight: 300!important;
    }
    .font__weight--400 {
        font-weight: 400!important;
    }
    .font__weight--500 {
        font-weight: 500!important;
    }
    .font__weight--600 {
        font-weight: 600!important;
    }
    .font__weight--700 {
        font-weight: 700!important;
    }
    .font__weight--800 {
        font-weight: 800!important;
    }
    .font__size--30 {
        font-size: 30pt!important;
    }
    .font__size--40 {
        font-size: 40pt!important;
    }
    .font__size--60 {
        font-size: 60pt!important;
    }

/* NAVBAR */
    .navbar__margin--top {
        margin-top: -15px;
    }
    .nav-link--white  {
        color: white;
    }
    .nav-link--white:hover {
        text-decoration: underline;
        color: white!important;
    }
    .nav-item {
        margin: 0 auto;
        padding-right: 1.5rem!important;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem!important;
        padding-left: 1.5rem!important;
        justify-content: flex-end;
    }
    .navbar__right {
        justify-content: flex-end;
    }
    .navbar-toggler {
        background: rgb(0,164,255);
        background: linear-gradient(209deg, rgba(0,164,255,1) 0%, rgba(0,212,255,1) 100%);
    }
    .navbar-toggler-icon {
        background-image: url(img/assets/hamburger.svg);
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
/* SOCIALS */
    .socialbox {
        position: absolute;
        right: 0%;
        top:15em;
    }
    .socialbox__style--gradient {
        background-size:10px; 
        background: rgb(0,164,255);
        background: linear-gradient(209deg, rgba(0,164,255,1) 0%, rgba(0,212,255,1) 100%);
    }
    .socialbox__image {
        width: 40px;
    }
    .socialbox__style {
        padding: 0.3em;
        margin-top: 0.8em;
        border-top-left-radius: 0.5rem!important;
        border-bottom-left-radius: 0.5rem!important;
    }
    .socialbox__style:hover {
        background-position:50px;
        -webkit-transition: background 0.5s ease;  
        -moz-transition: background 0.5s ease;  
        -o-transition: background 0.5s ease;  
        transition: background 0.5s ease;  
    }
    .socialbox__style--white {
        background-color: #FFFF;
        padding: 0.5em;
        display: inline-block;
        border-radius: 0.3rem!important;
        transition: .3s ease-in-out, .3s ease-in-out;
    }
    .socialbox__image--white {
        width: 80px;
        height: 80px;
    }
    .socialbox__a {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
    .socialbox__style--white:hover {
        background: rgb(0,191,255);
        
        color: white;
        background-position:96.5px;  
    }

    .socialbox__link-facebook:hover .socialbox__link-hover1 {
        fill: #fff !important;
    }

    .socialbox__link-instagram:hover .socialbox__link-hover1 {
        fill: #fff !important;
    }

    .socialbox__link-youtube:hover .socialbox__link-hover1 {
        fill: #fff !important;
    }

    .socialbox__link-youtube:hover .socialbox__link-hover2 {
        fill: #00A1FF !important;
    }

    .socialbox__link-tiktok:hover .socialbox__link-hover1 {
        fill: #fff !important;
    }

    .socialbox__link-linkedin:hover .socialbox__link-hover1 {
        fill: #fff !important;
    }
/* FANCY BOX */
    .fancybox__container :focus {
        outline: none !important;
    }
    .fancybox__carousel .fancybox__slide.has-map .fancybox__content, .fancybox__carousel .fancybox__slide.has-pdf .fancybox__content, .fancybox__carousel .fancybox__slide.has-video .fancybox__content, .fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
        padding: 0;
        background: transparent !important;
        color: #fff;
        width: 1500px !important;
        height: 850px !important;
    }
/* IMAGE BOX */
    .imagebox__picture {
        border-radius: 0.8rem;
        background-position: center center;
        background-size: cover;
        min-height: 500px;
        position: relative;
        cursor: pointer;
        position: relative;
    }
    .imagebox__link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .imagebox__offset {
        margin-top: 240px;
    }
    /*.imagebox__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        text-decoration: none;
        border-radius: 50%;
        border: 0 transparent;
        background-image: url(img/assets/play_button.png);
        background-repeat: no-repeat;
    }*/

    .imagebox__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*.circle {
        width: 100px;
        height: 100px;
        background-position: 10px;
        background-color: #FFF;
        border-radius: 50%;
        box-shadow:#363636; 
    }*/
    .circle {
        box-sizing: border-box;
        display:block;
        width:100px;
        height:100px;
        padding-top: 14px;
        padding-left: 8px;
        line-height: 20px;
        border-radius: 50%;
        text-align:center;
        text-decoration:none;
        background-color: #FFF;
        font-size:20px;
        font-weight:bold;
        transition: background .3s ease-in-out, background .3s ease-in-out;
        box-shadow: 0px 0px 38.3px 0 rgb(0 0 0 / 33%);
    }
    .triangle-right { 
        max-width: 50%;
        max-height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*.triangle-right {
        border-top: 15px solid transparent;
        border-left: 25px solid #00359B;
        border-bottom: 15px solid transparent;
        position: absolute;
        top: 50%;
        left: 53%;
        transform: translate(-50%, -50%);
    }*/
    .circle:hover {
        background-color: rgb(0,191,255);
        /*background: linear-gradient(133deg, rgba(0,191,255,1) 0%, rgba(0,236,255,1) 100%);*/
    }

    .imagebox__heading {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        padding: 15px 20px;
        width: fit-content;
        text-align: center!important;
        z-index: 2;
        position: relative;
        background-color: #002B9B;
        box-shadow: 0px 0px 38.3px 0px rgb(0 0 0 / 33%);
    }
    
    .imagebox__infobox-button {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius:  0.5rem;
        text-decoration: none;
        font-weight: 800;
        padding: 10px 30px;
        background-color: #FFFF;
        z-index: 2;
        transition: .3s ease-in-out, .3s ease-in-out;
        box-shadow: 0px 0px 38.3px 0 rgb(0 0 0 / 33%);
    }
    .imagebox__infobox-button--tiskar {
        border-top-right-radius: 0.5rem;
    }
    .imagebox__infobox-button:hover {
        background: rgb(0,191,255);
        color: #FFF;
    }

    .imagebox__infobox {
        position: absolute;
        left: 25px;
        bottom: 25px;
    }
/* INFO BOX */
    .infobox__text {
        margin: 0 auto;
        font-size: 20px;
    }

    .infobox__size {
        width: 25%;
        height: 100%;
    }

    .infobox__offset {
        margin-bottom: -80px;
        height: 140px;
    }
    /*INFO BOX 1*/
    .infobox
    .infobox--gradient-1 {
        background: rgb(0,169,255);
        background: linear-gradient(312deg, rgba(0,169,255,1) 0%, rgba(0,119,255,1) 100%);
        border-top-left-radius: 0.5rem!important;
        border-bottom-left-radius: 0.5rem!important;
    }
    /*INFO BOX 2*/
    .infobox
    .infobox--gradient-2 {
        background: rgb(0,130,255);
        background: linear-gradient(133deg, rgba(0,130,255,1) 0%, rgba(0,198,255,1) 100%);
    }
    /*INFO BOX 3*/
    .infobox
    .infobox--gradient-3 {
        background-color: #002B9B;
        height: 130%;
        margin-top: -25px;
        border-radius: 0.5rem!important;
    }
    .infobox__text--third {
        margin: 0 auto;
        font-size: 36px;
    }
    /*INFO BOX 4*/
    .infobox
    .infobox--gradient-4 {
        background: rgb(0,191,255);
        background: linear-gradient(133deg, rgba(0,191,255,1) 0%, rgba(0,236,255,1) 100%);
        border-top-right-radius: 0.5rem!important;
        border-bottom-right-radius: 0.5rem!important;
        
    }

/* TEXT BOX */
    .textbox {
        background-image: url(img/text_box/ball_velim_bg.jpg);
        background-size: cover;
        position: relative;
        z-index: 2;
        border-top-left-radius: .5rem!important;
        border-bottom-left-radius: .5rem!important;
    }
    .textbox__text {
        max-width: 700px;
        padding-top: 5rem;
        padding-bottom: 5rem;
        margin-left: 25%;
    }
    .textbox__bluebox {
        width: 90%;
        height: 50px;
        display: block;
        right: 0;
        bottom: -50px;
        position: absolute;
        background: #002998;
        border-bottom-left-radius: 0.8rem!important;
        /*background-image: url(img/text_box/bluebackground.jpg);*/
    }

/* FORM */
    .contactform--background_image {
        background: rgb(0,39,155);
        background: linear-gradient(160deg, rgba(0,39,155,1) 0%, rgba(0,55,152,1) 50%, rgba(0,65,155,1) 100%);
        border-top-left-radius: .5rem!important;
        border-top-right-radius: .5rem!important;
        border-bottom-left-radius: .5rem!important;
        border-bottom-right-radius: .5rem!important;
    }
    .contactform__wrapper {
        padding: 40px 50px 50px;
    }
    .contactform__position--left {
        z-index: 2;
    }
    .contactform__position--right {
        z-index: 1;
        margin-left: -30;
    }
    .contactform__content--textarea {
        width: 100%;
        border-radius: 0.5rem;
    }
    .contactform__submitbutton {
        border: 1px transparent;
        padding: 0.7rem 1.5rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.15rem;
    }
    .contactform__submitbutton--background {
        background: rgb(0,119,255);
        background: linear-gradient(153deg, rgba(0,119,255,1) 0%, rgba(0,204,255,1) 100%);
    }
    .contactform__submitbutton:hover {
        background-position: 165px;
        -webkit-transition: background 0.5s ease;  
        -moz-transition: background 0.5s ease;  
        -o-transition: background 0.5s ease;  
        transition: background 0.5s ease;  
    }
    
    .boxstyle__regularbox {
        width: 100%;
        height: 189.3px;
        background: rgb(0,124,236);
        background: linear-gradient(153deg, rgba(0,124,236,1) 0%, rgba(0,142,255,1) 100%);
        display: flex;
        flex-wrap: nowrap;
    }
    .boxstyle__regularbox--text {
        line-height: 5px;
        font-size: 18px;
        margin-left: 32px;
    }
    .boxstyle__link--decoration:hover {
        text-decoration: underline;
        color: white;
    }
    .boxstyle__regularbox--top {
        margin-top: 10%;
        border-top-right-radius: 0.5rem;
    }
    .boxstyle__regularbox--bottom {
        margin-top: -10px;
        border-bottom-right-radius: 0.5rem;
    }

/* FOOTER BACKGROUND */
    .footer {
        font-family: 'Inter', sans-serif;
        /*font-weight: 300;*/
        color:white;
    }
    .footer__opaque {
        background-color: #363636;
        padding: 25px;
        font-weight: 600;
    }
    .footer__background {
        max-width: auto;
        padding-top: 90px;
        padding-bottom: 90px;
        background-image: url(img/footer/footer.jpg);
    }

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem!important;
        padding-left: 0.5rem!important;
    }
}
@media screen and (max-width: 1199px) {
    .h3 {
        font-size: 30px;
    }
    .navbar__margin--top {
        margin-top: 0px!important;
    }
    .nav-item {
        margin: 0 auto;
        padding-right: 1.5rem!important;
    }
    /*INFO BOX 3*/
    .infobox
    .infobox--gradient-3 {
        background-color: #002B9B;
        height: 100%;
        margin-top: -0;
        border-radius: 0.0rem!important;
    }
    .infobox__text--third {
        margin: 0 auto;
        font-size: 30px;
        line-height: 30px;
    }
    infobox__text--fourth {
        margin: 0 auto;
        font-size: 15px!important;
        line-height: 25px;
    }
    
    .navbar__margin--top {
        margin-top: 60px;
    }
    /* FORM */
    .contactform__position--right {
        margin-left: 0;
    }
    .contactform--background_image {
        border-top-left-radius: 0rem!important;
        border-top-right-radius: 0rem!important;
    }
    /* FORM */
    .formbox__flex {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 10%;
    }
    .boxstyle__regularbox--top {
        margin-top: 0;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.0rem;
    }
    .boxstyle__regularbox--bottom {
        margin-top: 0;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.0rem;
    }
    
}
@media screen and (max-width: 1024px) {
    /* FONTS */
    
    /* SPACERS */
    .mt__xl {
        margin-top: 450px;
    }
    /* NAVBAR */
    .navbar__right {
        margin-right: -5%;
        margin-top: -13%;
    }
    .nav-item {
        margin: 0;
        text-align: right;
        padding-right: 2rem!important;
        padding-top: -1rem!important;

    }
    /*INFO BOXES*/
    .infobox__text {
        margin: 0 auto;
        line-height: auto;
    }

    .infobox__size {
        width: 50%;
    }

    .infobox__offset {
        margin-bottom: -80px;
    }
    /*INFO BOX 1*/
    .infobox
    .infobox--gradient-1 {
        border-bottom-left-radius: 0rem!important;
    }
    /*INFO BOX 2*/
    .infobox
    .infobox--gradient-2 {
        border-top-right-radius: 0.5rem!important;
    }  

    /*INFO BOX 3*/
    .infobox
    .infobox--gradient-3 {
        background-color: #002B9B;
        margin-top: 0px;
        border-radius: 0rem!important;
        width: 100%;
    }
    .infobox__text--third {
        margin: 0 auto;
        line-height: 40px;
    }
    /*INFO BOX 4*/
    .infobox
    .infobox--gradient-4 {
        margin-top: 0px;
        border-bottom-left-radius: 0.5rem!important;
        border-bottom-right-radius: 0.5rem!important;
        border-top-right-radius: 0rem!important;
        width: 100%;
    }
    /* IMAGE BOX */
    /* TEXT BOX */
    

}

@media screen and (max-width: 991px) {
    .nav-item {
        margin: 0;
        text-align: right;
        padding-right: 7rem!important;
        padding-top: -1rem!important;
    }
    .textbox {
        margin-left: 0px;
        border-top-left-radius: 0rem!important;
        border-bottom-left-radius: 0rem!important;
    }
    .footer__background {
        height: auto;
    }
    /* IMAGE BOX */
    .imagebox__half--col {
        width: 50%;
    }
    .imagebox__offset {
        margin-top: 0%;
    }
}
@media screen and (max-width: 768px) {
    body {
        font-size: 15px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0rem!important;
        padding-left: 0rem!important;
    }
    .background__image {
        background-position: -170px;
    }
    /* SPACERS */
    .mt__xl {
        margin-top: 450px;
    }

    /* NAVBAR */
    .navlink {
    display:inline;
    text-align: -webkit-match-parent;
    }
    .nav-item {
        margin: 0;
        text-align: right;
        margin-bottom: 30;
    }
    /* IMAGE BOX */
    .imagebox__half--col {
        width: 50%;
    }
    .imagebox__offset {
        margin-top: 0%;
    }

    
    /* FONT */
    .h1 {
        font-size: 30pt;
        line-height: 60pt;
        margin-bottom: 10px;
        font-weight: 500;
    }
    .h2 {
        font-size: 25pt;
        line-height: 35pt;
        margin-bottom: -15px;
        font-weight: 500;
    }
    .h3 {
        font-weight: 700;
        font-size: 25pt;
    }

    /* FOOTER */
    .socialbox__a {
        margin: 2.5px;
        margin-top: 7px;
    }
}
@media screen and (max-width: 756px) {
    .imagebox__half--col {
        width: 100%;
    }
        /* FORM */
        .formbox__flex {
            flex-wrap: wrap;
            margin-top: 10%;
        }
        .boxstyle__regularbox--top {
            margin-top: 0;
            border-top-right-radius: 0.5rem;
        }
        .boxstyle__regularbox--bottom {
            margin-top: 0;
            border-top-right-radius: 0.0rem;
            border-bottom-right-radius: 0.0rem;
        }
        .boxstyle__regularbox--text {
            margin-left: 60px;
        }
        .boxstyle__regularbox {
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: flex-start;
        }
}
@media screen and (max-width: 575px) {
    .textbox__text {
        margin-left: 0;
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media screen and (max-width: 425px) {
    .formcontent__align {
        display: flex;
        flex-direction: column;
    }
    .boxstyle__regularbox--text {
        margin-left: 60px;
    }
    .footer__background {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}